*{
    margin: 0;
    padding: 0;
}
body,
html{
    height: 100%;
}
.swiper-container {
    width: 500px;
    height: 300px;
}  
.swiper-slide{
    background-image: url(../img/11201.jpg);
    
    height: 312px;
}
.s1{
    background-color: red;
}
.s2{
    background-color: aqua;
}
.s3{
    background-color: forestgreen;
}
.swipe-handler{
    position: absolute;
    top:220px;
    z-index:999;
    background:rgba(255,255,255,0.5);
    text-align:center;
}