                        body {
                            margin: 0px;
                            padding: 0px;
                            box-sizing: border-box;
                            background-color: #F5F5F5;
                            font-size: 12px;
                        }
                        
                        .w {
                            width: 1200px;
                            margin: 0 auto;
                        }
                        
                        .css_new_top {
                            background-color: #f2f2f2;
                            .w {
                                width: 1200px;
                                margin: 0 auto;
                                .css_top_left {
                                    float: left;
                                    line-height: 25px;
                                    .css_left_city {
                                        .city_name {
                                            float: left;
                                            margin-right: 5px;
                                        }
                                        .city_menu {
                                            float: left;
                                            margin-right: 5px;
                                        }
                                        .img {
                                            padding-top: 3px;
                                        }
                                    }
                                }
                            }
                        }
                        
                        .css_left_city i,
                        .css_left_city span {
                            display: block;
                            float: left;
                            margin-right: 15px;
                        }
                        
                        .css_left_city a {
                            float: left;
                            display: block;
                            text-decoration: none;
                            margin-right: 15px;
                            color: #666;
                        }
                        
                        .css_new_top,
                        .w::after {
                            clear: both;
                            content: "";
                            display: flex;
                        }
                        
                        .css_new_top .zhuce {
                            color: red;
                        }
                        
                        .css_top_right {
                            float: right;
                            a {
                                margin-right: 10px;
                                color: #666;
                                text-decoration: none;
                            }
                            a:hover {
                                color: red;
                            }
                        }
                        
                        .css_head_main {
                            .w {
                                width: 1200px;
                                margin: auto;
                                .a {
                                    display: block;
                                    float: left;
                                    margin-top: 20px;
                                }
                                .css_head_sou {
                                    margin: auto;
                                    float: left;
                                    margin-left: 120px;
                                    margin-top: 40px;
                                }
                                .css_head_sou input {
                                    color: #CCCCCC;
                                    width: 620px;
                                    padding: 0;
                                    line-height: 36px;
                                    height: 36px;
                                    border: 2px solid #FE2E2D;
                                    padding-left: 40px;
                                    outline: none;
                                }
                                .css_head_sou button {
                                    width: 100px;
                                    height: 40px;
                                    background-color: red;
                                    border: 0;
                                    color: white;
                                }
                                .css_head_sou button a {
                                    color: white;
                                    text-decoration: none;
                                }
                            }
                        }
                        
                        .css_top_nav {
                            background-color: #F3F3F3;
                            .w {
                                width: 1200px;
                                margin: 0 auto;
                                .css_item {
                                    font-weight: bold;
                                    height: 44px;
                                    color: #fff;
                                    float: left;
                                    .css_tit {
                                        background-color: #FE2E2D;
                                        font-size: 16px;
                                        text-align: left;
                                        padding-left: 20px;
                                        width: 200px;
                                        color: white;
                                        margin-bottom: 0;
                                        height: 55px;
                                        line-height: 55px;
                                        margin-top: 0;
                                        margin-right: 30px;
                                    }
                                    .css_category {
                                        background: rgba(64, 64, 64, .9);
                                        width: 220px;
                                        height: 451px;
                                        padding-top: 9px;
                                        padding-bottom: 10px;
                                        top: 44px;
                                        z-index: 3;
                                        .css_cateItem {
                                            padding: 9px 20px 9px 20px;
                                            height: 38px;
                                            .css_hot {
                                                font-size: 16px;
                                            }
                                            .css_mark {
                                                padding-top: 0;
                                                display: block;
                                                a {
                                                    color: rgb(238, 238, 238);
                                                    text-decoration: none;
                                                }
                                            }
                                        }
                                    }
                                }
                                .css_item1 {
                                    float: left;
                                    font-size: 16px;
                                    font-weight: bold;
                                    padding-left: 20px;
                                    padding-right: 20px;
                                    line-height: 55px;
                                    a {
                                        color: #333;
                                        text-decoration: none;
                                    }
                                    a:hover {
                                        color: red;
                                    }
                                }
                            }
                        }
                        
                        ul {
                            padding-left: 0;
                            li {
                                list-style: none;
                            }
                        }
                        
                        .css_home_main {
                            margin-bottom: 10px;
                            .js_css_slide {
                                .bd {
                                    overflow: hidden;
                                    ul {
                                        width: 7680px;
                                        transition: 0.5s;
                                        li {
                                            float: left;
                                            img {
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                                .hd {
                                    position: absolute;
                                    top: 650px;
                                    left: 730px;
                                    background: rgba(255, 255, 255, 0.5);
                                    width: 138px;
                                    height: 18px;
                                    border-radius: 9px;
                                    text-align: center;
                                    .indicator {
                                        margin-top: 5px;
                                        margin-left: 26px;
                                        li {
                                            width: 8px;
                                            height: 8px;
                                            border-radius: 4px;
                                            background-color: #fff;
                                            float: left;
                                            margin-left: 5px;
                                            margin-right: 10px;
                                        }
                                    }
                                }
                            }
                        }
                        
                        .css_main_main {
                            .w {
                                width: 1200px;
                                margin: 0 auto;
                                .main_vip {
                                    .vip_left {
                                        float: left;
                                        background-color: #d4b570;
                                        width: 220px;
                                        height: 500px;
                                        margin-right: 10px;
                                        .left_logo {
                                            width: 180px;
                                            height: 115px;
                                            padding: 26px 20px 0px 20px;
                                        }
                                        .left_center {
                                            height: 193px;
                                            padding: 0px 26px;
                                        }
                                        .left_bottom {
                                            background: #B19155;
                                            height: 160px;
                                            ul {
                                                padding-top: 16px;
                                                li {
                                                    float: left;
                                                    background-color: #DDBC65;
                                                    width: 94px;
                                                    height: 30px;
                                                    margin-right: 5px;
                                                    margin-left: 9px;
                                                    text-align: center;
                                                    line-height: 26px;
                                                    margin-bottom: 20px;
                                                    a {
                                                        color: #fff;
                                                        display: block;
                                                        text-decoration: none;
                                                    }
                                                    a:hover {
                                                        background-color: #ddcf65;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .vip_center {
                                        float: left;
                                        margin-right: 10px;
                                        .top_logo {
                                            margin-bottom: 10px;
                                        }
                                        .top_main {
                                            a {
                                                display: block;
                                                float: left;
                                            }
                                            .a1 {
                                                margin-left: 10px;
                                            }
                                        }
                                    }
                                    .vip_right {
                                        a {
                                            display: block;
                                            float: left;
                                            margin-bottom: 10px;
                                        }
                                        .aa3 {
                                            margin-right: 10px;
                                        }
                                    }
                                }
                            }
                        }
                        
                        .shenghuo {
                            margin-top: 10px;
                            .css_top {
                                border: 1px solid #E98B65;
                                h3 {
                                    margin: 0;
                                    font-size: 24px;
                                    width: 220px;
                                    line-height: 48px;
                                    text-align: center;
                                    color: white;
                                    float: left;
                                    background-color: #E98B65;
                                }
                                span {
                                    margin-left: 575px;
                                    margin-top: 11px;
                                    margin-right: 11px;
                                    a {
                                        display: block;
                                        float: left;
                                        text-decoration: none;
                                        border: 1px solid rgb(233, 139, 101);
                                        color: rgb(233, 139, 101);
                                        background-color: white;
                                        margin-left: 10px;
                                        font-size: 14px;
                                        width: 66px;
                                        text-align: center;
                                        border-radius: 3px;
                                        height: 22px;
                                        line-height: 22px;
                                    }
                                    a:hover {
                                        background-color: #E98B65;
                                        color: white;
                                    }
                                }
                            }
                            .css_mei {
                                .mei_left {
                                    float: left;
                                    margin-top: 10px;
                                }
                                .mei_right {
                                    ul {
                                        li {
                                            float: left;
                                        }
                                        .a {
                                            margin-left: 10px;
                                        }
                                        .aa {
                                            margin-left: 10px;
                                            margin-top: 10px;
                                        }
                                    }
                                }
                            }
                        }
                        
                        .css_top,
                        .friendlyLink,
                        .top,
                        .css_mei,
                        .css_bottom::after {
                            content: "";
                            display: flex;
                            clear: both;
                        }
                        
                        .css_dian {
                            margin-bottom: 10px;
                            margin-top: 10px;
                            .css_top {
                                border: 1px solid #86C8F1;
                                h3 {
                                    margin: 0;
                                    font-size: 24px;
                                    width: 220px;
                                    line-height: 48px;
                                    text-align: center;
                                    color: white;
                                    float: left;
                                    background-color: #86C8F1;
                                }
                                span {
                                    margin-left: 575px;
                                    margin-top: 11px;
                                    margin-right: 11px;
                                    a {
                                        display: block;
                                        float: left;
                                        text-decoration: none;
                                        border: solid 1px #86C8F1;
                                        color: #86C8F1;
                                        background-color: white;
                                        margin-left: 10px;
                                        font-size: 14px;
                                        width: 66px;
                                        text-align: center;
                                        border-radius: 3px;
                                        height: 22px;
                                        line-height: 22px;
                                    }
                                    a:hover {
                                        background-color: #86C8F1;
                                        color: white;
                                    }
                                }
                            }
                            .bottom_left {
                                float: left;
                            }
                            .bottom_right {
                                ul {
                                    li {
                                        float: left;
                                    }
                                    .a {
                                        margin-left: 10px;
                                    }
                                    .aa {
                                        margin-left: 10px;
                                        margin-top: 10px;
                                    }
                                }
                            }
                        }
                        
                        .css_ri {
                            margin-top: 10px;
                            .css_top {
                                border: 1px solid #869DF1;
                                ;
                                h3 {
                                    margin: 0;
                                    font-size: 24px;
                                    width: 220px;
                                    line-height: 48px;
                                    text-align: center;
                                    color: white;
                                    float: left;
                                    background-color: #869DF1;
                                    ;
                                }
                                span {
                                    margin-left: 575px;
                                    margin-top: 11px;
                                    margin-right: 11px;
                                    a {
                                        display: block;
                                        float: left;
                                        text-decoration: none;
                                        border: solid 1px #869DF1;
                                        ;
                                        color: #869DF1;
                                        ;
                                        background-color: white;
                                        margin-left: 10px;
                                        font-size: 14px;
                                        width: 66px;
                                        text-align: center;
                                        border-radius: 3px;
                                        height: 22px;
                                        line-height: 22px;
                                    }
                                    a:hover {
                                        background-color: #869DF1;
                                        ;
                                        color: white;
                                    }
                                }
                            }
                            .css_bottom {
                                .css_left {
                                    float: left;
                                }
                                .css_right {
                                    ul {
                                        li {
                                            float: left;
                                        }
                                        .a {
                                            margin-left: 10px;
                                        }
                                        .aa {
                                            margin-left: 10px;
                                            margin-top: 10px;
                                        }
                                    }
                                }
                            }
                        }
                        
                        .css_jia {
                            margin-top: 10px;
                            .css_top {
                                border: 1px solid #F18686;
                                ;
                                h3 {
                                    margin: 0;
                                    font-size: 24px;
                                    width: 220px;
                                    line-height: 48px;
                                    text-align: center;
                                    color: white;
                                    float: left;
                                    background-color: #F18686;
                                    ;
                                }
                                span {
                                    margin-left: 575px;
                                    margin-top: 11px;
                                    margin-right: 11px;
                                    a {
                                        display: block;
                                        float: left;
                                        text-decoration: none;
                                        border: solid 1px #F18686;
                                        ;
                                        color: #F18686;
                                        ;
                                        background-color: white;
                                        margin-left: 10px;
                                        font-size: 14px;
                                        width: 66px;
                                        text-align: center;
                                        border-radius: 3px;
                                        height: 22px;
                                        line-height: 22px;
                                    }
                                    a:hover {
                                        background-color: #F18686;
                                        ;
                                        color: white;
                                    }
                                }
                            }
                            .css_bottom {
                                .jia_left {
                                    float: left;
                                }
                                .jia_right {
                                    ul {
                                        li {
                                            float: left;
                                        }
                                        .a {
                                            margin-left: 10px;
                                        }
                                        .aa {
                                            margin-left: 10px;
                                            margin-top: 10px;
                                        }
                                    }
                                }
                            }
                        }
                        
                        .css_ju {
                            margin-top: 10px;
                            .css_top {
                                border: 1px solid #37B6BE;
                                ;
                                h3 {
                                    margin: 0;
                                    font-size: 24px;
                                    width: 220px;
                                    line-height: 48px;
                                    text-align: center;
                                    color: white;
                                    float: left;
                                    background-color: #37B6BE;
                                    ;
                                }
                                span {
                                    margin-left: 575px;
                                    margin-top: 11px;
                                    margin-right: 11px;
                                    a {
                                        display: block;
                                        float: left;
                                        text-decoration: none;
                                        border: solid 1px #37B6BE;
                                        ;
                                        color: #37B6BE;
                                        ;
                                        background-color: white;
                                        margin-left: 10px;
                                        font-size: 14px;
                                        width: 66px;
                                        text-align: center;
                                        border-radius: 3px;
                                        height: 22px;
                                        line-height: 22px;
                                    }
                                    a:hover {
                                        background-color: #37B6BE;
                                        ;
                                        color: white;
                                    }
                                }
                            }
                        }
                        
                        .css_bottom {
                            .jia_left {
                                float: left;
                            }
                            .jia_right {
                                ul {
                                    li {
                                        float: left;
                                    }
                                    .a {
                                        margin-left: 10px;
                                    }
                                    .aa {
                                        margin-left: 10px;
                                        margin-top: 10px;
                                    }
                                }
                            }
                        }
                        
                        .css_jing {
                            margin-top: 10px;
                            .css_top {
                                border: 1px solid #DD6E42;
                                ;
                                h3 {
                                    margin: 0;
                                    font-size: 24px;
                                    width: 220px;
                                    line-height: 48px;
                                    text-align: center;
                                    color: white;
                                    float: left;
                                    background-color: #DD6E42;
                                    ;
                                }
                                span {
                                    margin-left: 575px;
                                    margin-top: 11px;
                                    margin-right: 11px;
                                    a {
                                        display: block;
                                        float: left;
                                        text-decoration: none;
                                        border: solid 1px #DD6E42;
                                        ;
                                        color: #DD6E42;
                                        ;
                                        background-color: white;
                                        margin-left: 10px;
                                        font-size: 14px;
                                        width: 66px;
                                        text-align: center;
                                        border-radius: 3px;
                                        height: 22px;
                                        line-height: 22px;
                                    }
                                    a:hover {
                                        background-color: #DD6E42;
                                        ;
                                        color: white;
                                    }
                                }
                            }
                        }
                        
                        footer {
                            background-color: #454545;
                            .w {
                                width: 1200px;
                                margin: 0 auto;
                                .top {
                                    border-bottom: 1px solid #3B3B3B;
                                    margin-top: 20px;
                                    padding-top: 20px;
                                    dl {
                                        float: left;
                                        width: 156px;
                                        font-size: 14px;
                                        color: white;
                                        dd {
                                            margin-left: 0;
                                            a {
                                                text-decoration: none;
                                                color: #D9D9D9;
                                                font-size: 12px;
                                            }
                                            a:hover {
                                                color: red;
                                            }
                                        }
                                    }
                                    .weixin {
                                        float: left;
                                    }
                                    .coverage {
                                        margin-left: 20px;
                                        .css_fwzx {
                                            font-size: 14px;
                                            color: white;
                                        }
                                        .css-service-center-content {
                                            color: #D9D9D9;
                                        }
                                    }
                                }
                                .bottom {
                                    .friendlyLink {
                                        padding-top: 20px;
                                        padding-bottom: 20px;
                                        .a {
                                            float: left;
                                            color: white;
                                            font-size: 14px;
                                            width: 70px;
                                            margin-top: -2px;
                                        }
                                        .b {
                                            float: left;
                                            width: 1130px;
                                            a {
                                                color: #D9D9D9;
                                                text-decoration: none;
                                                margin-left: 14px;
                                            }
                                        }
                                    }
                                }
                                .foot1 {
                                    text-align: center;
                                    color: white;
                                    padding-bottom: 10px;
                                }
                            }
                        }
                        
                        //登录
                        header {
                            .top {
                                margin-top: 15px;
                                margin-bottom: 15px;
                                .top-logo {
                                    float: left;
                                }
                                .top-right {
                                    margin-left: 700px;
                                    margin-top: 55px;
                                    ul {
                                        li {
                                            float: left;
                                            margin-left: 20px;
                                            a {
                                                text-decoration: none;
                                                color: #666;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        
                        .main {
                            background: #f9f9f9;
                            .left {
                                float: left;
                                margin-top: 40px;
                                margin-left: 130px;
                            }
                            .right {
                                margin-top: 50px;
                                float: right;
                            }
                            .right1 {
                                .css-log-box {
                                    width: 290px;
                                    background-color: #fff;
                                    padding: 0 35px;
                                    padding-bottom: 40px;
                                    .css-log-title {
                                        padding-top: 15px;
                                        color: #666666;
                                        font-weight: bold;
                                        margin-top: 23px;
                                        font-size: 20px;
                                    }
                                    .css-log-warn {
                                        width: 100%;
                                        line-height: 24px;
                                        font-size: 12px;
                                        border: solid 1px #ffcd07;
                                        margin-top: 9px;
                                        margin-bottom: 9px;
                                        color: #a1a1a1;
                                        text-indent: 25px;
                                    }
                                    .css-log-input {
                                        width: 100%;
                                        height: 42px;
                                        position: relative;
                                        border: solid 1px #e4e4e4;
                                        border-radius: 3px;
                                        margin-bottom: 20px;
                                        .js-username {
                                            width: 99%;
                                            height: 36px;
                                            border-radius: 5px;
                                            outline: 0;
                                        }
                                        .js-password {
                                            width: 99%;
                                            height: 36px;
                                            border-radius: 5px;
                                            outline: 0;
                                        }
                                    }
                                    .css-log-btn {
                                        width: 100%;
                                        height: 40px;
                                        line-height: 40px;
                                        background-color: #fd5356;
                                        border-radius: 3px;
                                        text-align: center;
                                        color: #fff;
                                        cursor: pointer;
                                        margin-top: 25px;
                                    }
                                }
                            }
                        }
                        
                        .js-footer {
                            padding-top: 50px;
                        }
                        
                        .main {
                            .right2 {
                                float: right;
                                width: 430px;
                                border: solid 1px #ccc;
                                background-color: #fff;
                                .title {
                                    position: relative;
                                    border-bottom: solid 1px #ccc;
                                    background-color: #f8f8f8;
                                }
                                .register-form {
                                    .css-input {
                                        width: 320px;
                                        height: 40px;
                                        border: solid 1px #e4e4e4;
                                        border-radius: 3px;
                                        margin: 0 auto;
                                        background-color: #fff;
                                        margin-top: 20px;
                                        input {
                                            width: 320px;
                                            height: 40px;
                                            outline: 0;
                                            border: solid 1px #e4e4e4;
                                            border-radius: 3px;
                                            margin: 0 auto;
                                            background-color: #fff;
                                        }
                                    }
                                    .css-reg-btn {
                                        width: 325px;
                                        margin: auto;
                                        text-align: center;
                                        font-size: 18px;
                                        padding-top: 10px;
                                        padding-bottom: 10px;
                                        border-radius: 5px;
                                        color: white;
                                        margin-top: 30px;
                                        margin-bottom: 30px;
                                        background-color: #d7d7d7;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                        
                        .xiangqing {
                            .x-top {
                                margin-top: 20px;
                                margin-bottom: 20px;
                                border: solid 1px #eee;
                                .x-top-left {
                                    float: left;
                                    ul {
                                        margin-top: 0;
                                        margin-bottom: 0;
                                        li {
                                            width: 140px;
                                            height: 60px;
                                            line-height: 65px;
                                            border: 1px solid #f5f5f5;
                                            background: #fff;
                                            text-align: center;
                                            a {
                                                color: #666;
                                                text-decoration: none;
                                            }
                                        }
                                    }
                                }
                                .x-top-right {
                                    .x-top-right1 {
                                        height: 50px;
                                        border-bottom: 2px solid #eee;
                                        li {
                                            float: left;
                                            margin-left: 30px;
                                            margin-right: 30px;
                                            font-size: 14px;
                                        }
                                    }
                                    .x-top-right2 {
                                        height: 50px;
                                        border-bottom: 2px solid #eee;
                                        li {
                                            float: left;
                                            margin-left: 30px;
                                            margin-right: 30px;
                                        }
                                    }
                                    .x-top-right3 {
                                        height: 50px;
                                        border-bottom: 2px solid #eee;
                                        li {
                                            float: left;
                                            margin-left: 30px;
                                            margin-right: 30px;
                                        }
                                    }
                                }
                            }
                            .x-center {
                                ul {
                                    li {
                                        width: 20%;
                                        float: left;
                                        margin-top: 10px;
                                        .g-dtl {
                                            background: #fff;
                                            width: 233px;
                                            z-index: 2;
                                            border: 1px solid #e5e5e5;
                                            .g-pd1 {
                                                width: 210px;
                                                height: 210px;
                                                margin: auto;
                                                margin-top: 10px;
                                            }
                                            .p-money {
                                                color: #e4393c;
                                                font-size: 15px;
                                                font-weight: 500;
                                                margin-left: 10px;
                                                margin-top: 5px;
                                            }
                                            h3 {
                                                color: #666;
                                                font-weight: normal;
                                                font-size: 14px;
                                                display: inline-block;
                                                margin: 5px 0px;
                                                margin-left: 10px;
                                            }
                                            .name {
                                                color: #999;
                                                margin-left: 10px;
                                                font-size: 14px;
                                            }
                                            .css-pj {
                                                width: 110px;
                                                margin-left: 123px;
                                                font-size: 14px;
                                                a {
                                                    color: #666;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        
                        a {
                            text-decoration: none;
                        }
                        
                        .navnav {
                            margin-left: 483px;
                        }
                        
                        .css-pj::after {
                            clear: both;
                            content: "";
                            display: block;
                        }
                        
                        //pingjia
                        .css-Category-List {
                            ul {
                                
                                li {
                                    float: left;
                                    font-size: 14px;
                                    a {
                                        display: block;
                                        padding: 10px 20px;
                                        font-weight: bold;
                                    }
                                    a:hover {
                                        background-color: #666;
                                    }
                                }
                            }
                        }
                        
                        .d-main {
                            .css_place {
                                height: 38px;
                                line-height: 38px;
                                background-color: #f2f2f2;
                                font-size: 14px;
                                a {
                                    margin: 0 5px;
                                    color: #666;
                                }
                            }
                            .x-left {
                                margin-top: 20px;
                                float: left;
                                .x-left-top {
                                    width: 420px;
                                    height: 420px;
                                    overflow: hidden;
                                    .lun {
                                        width: 1680px;
                                        height: 420px;
                                        img {
                                            width: 420px;
                                            float: left;
                                        }
                                    }
                                }
                                .x-left-bottom {
                                    width: 420px;
                                    a {
                                        display: block;
                                        img {
                                            float: left;
                                            width: 95px;
                                            margin-left: 8px;
                                            margin-top: 10px;
                                        }
                                    }
                                }
                            }
                            .x-right {
                                float: left;
                                margin-left: 30px;
                                margin-top: 50px;
                                .right {
                                    h3 {
                                        font-size: 16px;
                                    }
                                    p {
                                        color: red;
                                    }
                                    .yt_product_price {
                                        background-color: #f2f2f2;
                                        height: 25px;
                                        padding: 14px 10px 10px 10px;
                                        .yt_product_price_font {
                                            color: #333;
                                            float: left;
                                            letter-spacing: 8px;
                                            width: 90px;
                                        }
                                        .atg_store_productPrice {
                                            float: left;
                                            font-size: 13px;
                                            line-height: 18px;
                                            color: #fd0000;
                                            font-weight: bolder;
                                        }
                                        .css_comm_num {
                                            float: right;
                                            width: 86px;
                                            text-align: center;
                                            line-height: 18px;
                                            border-left: 1px solid #ccc;
                                            font-size: 14px;
                                            color: #333;
                                        }
                                    }
                                    .yt_product_buy_norms {
                                        margin-left: 10px;
                                        font-size: 13px;
                                        dd {
                                            margin-top: 10px;
                                        }
                                    }
                                    .div {
                                        button {
                                            background-color: red;
                                            border: 0;
                                            color: #fff;
                                            width: 120px;
                                            height: 50px;
                                            margin-left: 180px;
                                            margin-top: 50px;
                                        }
                                    }
                                }
                            }
                        }