@charset "UTF-8";
/*!
 * shengbangshenghua
*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

header .navbar {
  margin: 0px; }
  header .navbar .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px; }
  header .navbar .navbar-toggle {
    margin-top: 18px; }
  header .navbar .row .col-md-9 ul {
    padding-top: 15px;
    float: left; }
    header .navbar .row .col-md-9 ul li {
      list-style: none;
      float: left;
      padding-left: 30px; }
      header .navbar .row .col-md-9 ul li a {
        color: #555555; }
      header .navbar .row .col-md-9 ul li a:hover {
        color: #d90a81; }
      header .navbar .row .col-md-9 ul li a:active {
        color: #fff; }
  header .navbar .row .col-md-9 div {
    padding-top: 12px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    float: left; }
    header .navbar .row .col-md-9 div input {
      float: left;
      height: 24px; }

.section1 {
  background-color: #fff;
  padding-bottom: 10px; }
  .section1 .container .col-md-12 {
    border-bottom: solid 1px #eeeeee;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif; }
  .section1 .container .row {
    position: relative; }
    .section1 .container .row .col-md-6 {
      padding-top: 10px;
      padding-bottom: 10px; }
      .section1 .container .row .col-md-6 img {
        width: 100%; }
      .section1 .container .row .col-md-6 .a2,
      .section1 .container .row .col-md-6 .b2,
      .section1 .container .row .col-md-6 .c2,
      .section1 .container .row .col-md-6 .d2 {
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        text-align: center; }
      .section1 .container .row .col-md-6 .a2 {
        position: absolute;
        top: 11px;
        display: none; }
      .section1 .container .row .col-md-6 .b2 {
        position: absolute;
        top: 11px;
        display: none; }
      .section1 .container .row .col-md-6 .c2 {
        position: absolute;
        top: 9px;
        display: none; }
      .section1 .container .row .col-md-6 .d2 {
        position: absolute;
        top: 11px;
        display: none; }
      .section1 .container .row .col-md-6 a {
        color: #f1f1f1;
        font-size: 30px;
        line-height: 12em; }

section .jianjie {
  background: #fafafa;
  font-size: 16px;
  font-weight: 200; }
  section .jianjie h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px; }
  section .jianjie p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px; }
  section .jianjie div {
    text-align: center; }
    section .jianjie div button {
      background: #74161b;
      width: 100px;
      height: 40px;
      border: 0; }
      section .jianjie div button a {
        color: #fff;
        display: inline-block; }

section {
  margin-top: 50px; }
  section .col-md-12 {
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    padding-top: 20px;
    padding-bottom: 20px; }
  section .col-md-4 img {
    width: 100%; }
  section .col-md-4 p {
    text-align: center; }
    section .col-md-4 p a {
      color: #000;
      font-size: 20px; }
  section .col-md-4 div {
    text-align: center; }
    section .col-md-4 div button {
      background: #74161b;
      width: 100px;
      height: 40px;
      border: 0; }
      section .col-md-4 div button a {
        color: #fff;
        display: inline-block; }

.main {
  margin-top: 50px; }
  .main .container .col-md-12 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    padding-left: 0;
    font-weight: 600;
    font-family: sans-serif; }
  .main .container .img img {
    width: 100%; }
  .main .container .row {
    margin-top: 20px; }
    .main .container .row .col-md-6 {
      text-align: center; }
      .main .container .row .col-md-6 img {
        width: 100%; }

.caidan {
  /*控制菜单的按钮*/ }
  .caidan .slide {
    width: 50px;
    height: 250px;
    position: fixed;
    top: 50%;
    margin-top: -126px;
    background: #018D75;
    right: 0;
    border-radius: 5px 0 0 5px;
    z-index: 999; }
  .caidan .slide ul {
    list-style: none; }
  .caidan .slide .icon li {
    width: 49px;
    height: 50px;
    background: url(../img/icon.png) no-repeat; }
  .caidan .slide .icon .up {
    background-position: -330px -120px; }
  .caidan .slide .icon li.qq {
    background-position: -385px -73px; }
  .caidan .slide .icon li.tel {
    background-position: -385px -160px; }
  .caidan .slide .icon li.wx {
    background-position: -385px -120px; }
  .caidan .slide .icon li.down {
    background-position: -330px -160px; }
  .caidan .slide .info {
    top: 50%;
    height: 147px;
    position: absolute;
    right: 100%;
    background: #018D75;
    width: 0px;
    overflow: hidden;
    margin-top: -73.5px;
    transition: 0.5s;
    border-radius: 4px 0 0 4px; }
  .caidan .slide .info.hover {
    width: 145px; }
  .caidan .slide .info li {
    width: 145px;
    color: #CCCCCC;
    text-align: center; }
  .caidan .slide .info li p {
    font-size: 1.1em;
    line-height: 2em;
    padding: 15px;
    text-align: left; }
  .caidan .slide .info li.qq p a {
    display: block;
    margin-top: 12px;
    width: 100px;
    height: 32px;
    line-height: 32px;
    color: #00DFB9;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #00DFB9;
    border-radius: 5px; }
  .caidan .slide .info li.qq p a:hover {
    color: #FFFFFF;
    border: none;
    background: #00E0DB; }
  .caidan .slide .info li div.img {
    height: 100%;
    background: #DEFFF9;
    margin: 15px; }
  .caidan .slide .info li div.img img {
    width: 100%;
    height: 100%; }
  .caidan .index_cy {
    width: 30px;
    height: 30px;
    background: url(../img/index_cy.png);
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: 140px;
    background-position: 62px 0;
    cursor: pointer; }
  .caidan .index_cy2 {
    width: 30px;
    height: 30px;
    background: url(../img/index_cy.png);
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: 140px;
    background-position: 30px 0;
    cursor: pointer; }

footer {
  background-color: #f4f4f4; }
  footer .container .col-md-5 {
    font-size: 30px;
    color: #812122;
    line-height: 32px; }
  footer .container .col-md-12 {
    border-top: solid 2px #ebebeb;
    margin-top: 20px;
    padding-top: 30px;
    text-align: center; }
  footer .container h3 {
    font-size: 18px; }
  footer .container ul li {
    list-style: none;
    float: left;
    padding-right: 30px; }
    footer .container ul li a {
      color: #000; }

@media (max-width: 720px) {
  .section1 .container .row .col-md-6 a {
    line-height: 7em; } }

.t {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: aliceblue; }
  .t h3 {
    text-align: center; }
  .t a {
    color: #fff;
    font-size: 36px;
    text-decoration: none; }
    .t a:hover {
      text-decoration: none; }
  .t p {
    color: #e0e0e0;
    font-size: 16px; }

.main1 .fenlei {
  margin-top: 20px; }
  .main1 .fenlei .col-md-2 div {
    text-align: center;
    padding-bottom: 10px;
    background-color: #f6f6f6; }
    .main1 .fenlei .col-md-2 div a {
      color: #000; }
  .main1 .fenlei .col-md-10-header .he {
    background: #f3f3f3;
    border: 1px solid #d1d1d1; }
    .main1 .fenlei .col-md-10-header .he a {
      color: #999;
      display: inline-block;
      padding: 3px;
      font-size: 14px; }
  .main1 .fenlei ul {
    padding-top: 20px;
    margin-bottom: 40px; }
    .main1 .fenlei ul li {
      float: left;
      padding-left: 20px;
      list-style: none; }
      .main1 .fenlei ul li a {
        color: #898989;
        font-size: 20px; }

.weisheng {
  margin-top: 20px;
  margin-top: 50px; }
  .weisheng .col-md-12 {
    margin-bottom: 30px; }
  .weisheng .a {
    border-left: solid 3px #1d345e;
    font-size: 24px; }
  .weisheng .col-md-4 img {
    width: 100%; }
  .weisheng .col-md-4 div {
    font-size: 20px;
    background: rgba(0, 0, 0, 0.3);
    position: relative;
    top: -48px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px; }
    .weisheng .col-md-4 div a {
      color: #fff; }
      .weisheng .col-md-4 div a:hover {
        color: #fff; }
  .weisheng .col-md-3 img {
    width: 100%; }
  .weisheng .col-md-3 div {
    position: relative;
    top: -10px;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.3);
    position: relative;
    top: -48px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px; }
    .weisheng .col-md-3 div a {
      color: #fff; }
      .weisheng .col-md-3 div a:hover {
        color: #fff; }
  .weisheng .b {
    text-align: center; }
    .weisheng .b a {
      display: inline-block;
      padding-top: 10px;
      padding-left: 100px;
      padding-right: 100px;
      padding-bottom: 10px;
      border: 1px solid #000; }

.weisheng1 {
  margin-top: 20px;
  margin-bottom: 50px; }
  .weisheng1 .a {
    border-left: solid 3px #1d345e;
    font-size: 24px; }
  .weisheng1 .row {
    margin-top: 50px; }
    .weisheng1 .row .col-md-4 img {
      width: 100%; }
    .weisheng1 .row .col-md-3 img {
      width: 100%; }

.yushi {
  margin-bottom: 30px; }

.mainer .container {
  margin-bottom: 30px; }

.mainer .col-md-2 div {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f6f6f6; }
  .mainer .col-md-2 div a {
    color: #000; }

.mainer .col-md-10 {
  margin-top: 10px; }
  .mainer .col-md-10 .he {
    border: 1px solid #d1d1d1;
    background: #f3f3f3; }
    .mainer .col-md-10 .he a {
      color: #999;
      display: inline-block;
      padding: 3px; }
  .mainer .col-md-10 .col-md-10 .col-md-10 ul li {
    list-style: none;
    padding-top: 10px; }
  .mainer .col-md-10 .col-md-10 .col-md-10 ul input:nth-of-type(2) {
    margin-left: 10px; }
  .mainer .col-md-10 .col-md-10 .col-md-10 ul textarea {
    width: 400px;
    height: 100px; }
  .mainer .col-md-10 .col-md-10 .col-md-10 ul button {
    background: #ab5210;
    width: 120px;
    height: 40px;
    color: #fff;
    border: 0; }

.mainer .col-md-12 .col-md-4 {
  margin-bottom: 20px; }
  .mainer .col-md-12 .col-md-4 b {
    font-size: 11px; }
  .mainer .col-md-12 .col-md-4 p {
    font-size: 10px; }
  .mainer .col-md-12 .col-md-4 a {
    margin-top: 10px;
    display: inline-block; }

.mainer .col-md-12 ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  list-style: none; }

.mainer .col-md-12 img {
  margin-bottom: 10px;
  width: 100%; }

.mainer .col-md-12:nth-of-type(2) {
  margin-top: 30px; }

.section3 .col-md-4 .div {
  width: 100%;
  height: 260px;
  border: #000 solid 1px;
  margin: 50px auto;
  overflow: hidden; }
  .section3 .col-md-4 .div img {
    cursor: pointer;
    transition: all 0.6s; }
  .section3 .col-md-4 .div img:hover {
    transform: scale(1.4); }

.section3 .col-md-4 .col-md-6 {
  margin-top: 70px; }

.section3 .col-md-8 {
  margin-top: 50px; }
  .section3 .col-md-8 video {
    width: 100%;
    margin-top: 30px; }

.section3 .col-md-4 p {
  font-size: 15px;
  color: #000; }
